// Define variables for your color scheme

// For example:
$orange: #E78954;
$orange-dark: #F47820;
$dark-gray: #485C71;
$light-gray: #E3E8EA;
$black: black;
$white: white;
$red: red;
$yellow: #FFCD3C;
$green: green;
