
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1549216963-72c1712c1196?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80);">
  <div class="container">
    <h1><strong>CYCLEASY</strong></h1>
    <p>The easiest way to rent a bike!</p>
    <%= link_to "Browse Bikes", bikes_path, class:"btn btn-info" %>
  </div>
</div>
