
<div class="banner">
  <div class="banner-container">
    <h1>Cycleasy</h1>
    <p>It was never so easy to rent a bike.</p>
    <a href="/" class="btn btn-primary">Browse options</a>
  </div>
</div>
