.banner {
  background-image: url(../../images/background.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-size: cover;
  background-position: center;
  color: white;
  height: 200px;
  padding: 200px;
}
